{% extends 'base.html' %}

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">
{% include 'includes/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Logged in as:</strong>
			<span>{{user.full_name}}</span>
		</header>
		<div class="card-body">
            <div class="row">
                <div class="col-md-6">
                <div class="card" style="text-align: center;">
                    <div class="card-body">
                    <h5 class="card-title">Total Orders</h5>
                    <h4>{{orders_count}}</h4>
                    <a href="{% url 'my_orders' %}">View Orders</a>
                    </div>
                </div>
                </div>

                <div class="col-md-6">
                <div class="card" style="text-align: center;">
                    <div class="card-body">
                    <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/30/000000/external-user-user-flatart-icons-outline-flatarticons-5.png"/>
                    <p class="mb-0">{{user.email}}</p>
                    <p>{{user.full_name}}</p>
                    </div>
                </div>
                </div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}