{% extends 'base.html' %}
{% load socialaccount %}
{% block content %}


{% if request.GET.command == 'verification' %}
<div class="container mx-auto alert border-primary text-center" style="max-width: 800px; margin-top:100px;">
Thank you for signing up! We have sent you a verification link to your email address ({{request.GET.email}}).
<br><br>
Already verified? <a href="{% url 'login' %}">Login</a>
</div>
{% else %}
<div class="card mx-auto" style="max-width: 450px; margin-top:100px;">

      <div class="card-body">
      <h4 class="card-title mb-4">Sign in</h4>
      {% include 'includes/alerts.html' %}
      <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}

          <div class="form-group">
			 <input name="email" class="form-control" placeholder="Email Address" type="text">
          </div> <!-- form-group// -->
          <div class="form-group">
			<input name="password" class="form-control" placeholder="Password" type="password">
          </div> <!-- form-group// -->
          
          <div class="form-group">
          	<a href="{% url 'forgotPassword' %}" class="float-right">Forgot password?</a> 
            <label class="float-left custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> Remember </div> </label>
          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn bg-dark text-white btn-block"> Login  </button>
              <hr>
          <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp;  Sign in with Facebook</a>
      	  <a href="{% provider_login_url 'google' %}" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp;  Sign in with Google</a>
          </div> <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div>

    <p class="text-center mt-4 " style="margin-bottom:100px;">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
{% endif %}

{% endblock %}




