{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>

    <section class="section-content padding-y bg">
        <div class="container-fluid">
            <div class="container-fluid ">
                <!-- ================== BREADCRUMB  ==================  -->

                <div class="row justify-content-center mb-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</span> </a></li>
						<li class="breadcrumb-item"><a href="{% url 'cart' %}">Shopping Cart</a></li>
							<li class="breadcrumb-item text-primary">Information</li>
							<li class="breadcrumb-item text-primary">Shipping</li>
                            <li class="breadcrumb-item text-primary">Payment</li>
                        </ol>
                    </nav>
                </div>
                <!-- ================== END OF BREADCRUMB  ==================  -->
        {% include 'includes/alerts.html' %}
                <!-- ============================ CONTACT INFO ================================= -->
                <div class="row justify-content-center">
                    <main class="col-md-5">
                        <article class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Review Information</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <dl class="dlist-align">
                                            <dt class="text-muted  mt-2">
                                                <h5>Contact</h5>
                                            </dt>
                                            <dd class="mt-2">{{full_name}}</dd>
                                            <dd>
                                            </dd>
                                        </dl>
                                        <hr>
                                        <dl class="dlist-align">
                                            <dt class="text-muted  mt-3">
                                                <h5>Ship to</h5>
                                            </dt>
                                            <dd class=" mt-3">{{address_line_1}}</dd>
                                            <dd>
                                            </dd>
                                        </dl>
                                        <hr>
                                        <dl class="dlist-align">
                                            <dt class="text-muted  mt-3">
                                                <h5>Shipping</h5>
                                            </dt>
                                            <dd class=" mt-3">{{courier}}</dd>
                                            <dd>
                                            </dd>
                                        </dl>
                                    </div>

                                </div>
                            </div> <!-- card-body.// -->
                        </article> <!-- card.// -->

                        <article class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title mb-2">Voucher Code</h4>
                                <form action="{% url 'vouchers' %}" method="POST">
                                {% csrf_token %}
                                <input type="text" name="voucher" placeholder="Enter Voucher Code" class="form-control">
                                <button type="submit" class="btn btn-primary mt-3 float-right">Apply</button>
                                </form>
                            </div> <!-- card-body.// -->
                        </article> <!-- card.// -->

                        <!-- ============================ SHIPPING ADDRESS ================================= -->
                        <article class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Cart Items</h4>


							<table class="table table-borderless table-shopping-cart">
								<thead class="text-muted">
									<tr class="small text-uppercase">
										<th scope="col">Product</th>
										<th scope="col" width="120">Quantity</th>
										<th scope="col" width="120">Price</th>
									</tr>
								</thead>
								<tbody>
									{% for cart_item in cart_items %}
									<tr>
										<td>
											<figure class="itemside align-items-center">
												<div class="aside"><img src="{{cart_item.product.images.url}}"
														class="img-xs"></div>
												<figcaption class="info">
													<a href="{{ cart_item.product.get_url }}"
														class="title text-dark small">{{cart_item.product.product_name}}</a>
													<p class="text-muted small">
														{% if cart_item.variations.all %}
														{% for item in cart_item.variations.all %}
														{{ item.variation_category | capfirst }} :
														{{ item.variation_value | capfirst  }} <br>
														{% endfor %}
														{% endif %}
												</figcaption>
											</figure>
										</td>
										<td>
											<label for="">{{cart_item.quantity}}</label>
										</td>
										<td>
											<div class="price-wrap">
												<var class="price">₱{{cart_item.sub_total}}</var>
												<small class="text-muted">₱{{cart_item.product.price}} </small>
											</div> <!-- price-wrap .// -->
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
                                <hr>
                                
                                <dl class="dlist-align">
                                    <dt class="text-muted">Shipping Fee:</dt>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd style="">₱{{shipping_fee}}</dd>
                                </dl>

                                <hr>
                                <dl class="dlist-align">
                                    <dt>Total (VAT Included):</dt>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd class="h5">₱{{wodiscount}}</dd>
                                </dl>
                                <hr>
                                {% if discount != None  %}
                                <dl class="dlist-align">
                                    <dt class="text-muted">Discount:</dt>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd style="">₱ {{discount}}</dd>
                                </dl>

                                <hr>
                                <dl class="dlist-align">
                                    <dt>Grand Total (VAT Included):</dt>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd></dd>
                                    <dd class="h5">₱{{grand_total}}</dd>
                                </dl>
                                <hr>
                                {% endif %}
                                <a href="{% url 'cart' %}" class="btn btn-secondary float-left">
                                    < Return to Carts </a> 
                            </div> <!-- card-body.// -->
                        </article> <!-- card.// -->


                        <!-- accordion end.// -->

                    </main> <!-- col.// -->
                    <aside class="col-md-4">
                        <div class="card shadow">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Payment Methods</h4>
                                <div id="paypal-button-container">
                                    {% comment %} PAYPAL BUTTON {% endcomment %}
                                </div>
                            </div> <!-- card-body.// -->
                        </div> <!-- card.// -->
                    </aside> <!-- col.// -->
                </div> <!-- row.// -->

                <!-- ============================ COMPONENT 2 END//  ================================= -->
            </div> <!-- container .//  -->
    </section>

    <!-- ========================= SECTION CONTENT END// ========================= -->
    <script>
        // get csrf token 
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        var amount = "{{ grand_total }}"
        var csrftoken = getCookie('csrftoken')
        var url = "{% url 'payment_process' %}"
        var payment_method = 'PayPal'
        var redirect_url = "{% url 'order_complete' %}"
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            style: {
                shape: 'rect',
                label: 'pay',
                height: 40
            },
            // Set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: amount,
                            currency: "PHP",
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    sendData();

                    function sendData() {
                        fetch(url, {
                            method: 'POST',
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRFToken": csrftoken,
                            },
                            body: JSON.stringify({
                                transID: orderData.id,
                                payment_method: payment_method,
                                status: orderData.status,
                                amount: amount,
                            }),
                        })
                        .then(response => response.json())
                        .then((data) => {
                            console.log('Success');
                            window.location.href = redirect_url + '?order_number='+data.order_number+'&payment_id='+data.transID;
                        });
                    }

                });
            },
              onError: (err) => {
                    console.error('Error from the onError callback', err);
                }
        }).render('#paypal-button-container');


    </script>



    {% endblock %}