{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="section-intro">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/Header(Shorts).png' %}" class="w-100 img-fluid">
</div>

</section>


<div class="container my-5">
    <center>
<header class="section-heading text-center">
	<h3 class="section-title">About Us</h3>
	<p class="lead">South Cartel 55</p>
</header><!-- sect-heading -->
<p> With a heritage rooted in premium denim, an attitudinal staple that we believe everyone should feel like themselves in, we stand for quality over quantity and seek to create consciously minimal designs edited for everyday life.</p>

<p>Our inherent design principles, inspired by the scientific method and creative process, motivate us to continually examine, explore, and express a distilled vision of what a core wardrobe should be. Unwavering in our pursuit of methodical expertise, we focus on purified fits, premium fabrics, manufacturing integrity and sustainability practices.</p>

<p>Our team prioritizes a progressive perspective, and comes together with a robust blend of analytical and creative backgrounds. Our mixture of experience and thought facilitates a process driven approach to constantly improve our collections and commit to focusing on what matters most - both in our closets and in life.</p>
</center>

</div> 
 {% endblock  %}