{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-intro">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/Header(Shorts).png' %}" class="w-100 img-fluid">
</div>

</section>



<div class="container my-5">
    <center>
<header class="section-heading text-center">
	<h3 class="section-title">Business Policies</h3>
	<p class="lead">MTO (Make to Order)</p>
</header><!-- sect-heading -->
<p> South Cartel 55 is a retail store which takes pride in its wide-array of limited-edition release of apparel designs from various local streetwear brands. South Cartel does not accept make to order. However, South Cartel 55 is not an individual but home to multiple brands which may accept your query or offer. Should this be the case, south_cartel55@aol.com will gladly assist you with your queries towards the brands hosted on our site.</p>
</center>


    
<header class="section-heading text-center mt-5">
	<h3 class="section-title">Return Policies</h3>
</header><!-- sect-heading -->
<p> Customers who has purchased non-perishable and/or non-consumable goods may request a return or exchange request in person on the official South Cartel 55 branches. Note: Validity of return/exchange request may vary from case-to-case basis.</p>
<p> •	Generally, only defective items or wrong order sent by South Cartel 55 can be exchanged. But for cases like wrong size can be an exception as long as the item(s) to be exchanged are of the same kind or of the same price.</p>
<p> •	Returned items for exchange may not be worn or washed.</p>
<p> •	Items purchased may only be exchanged within 7 days of the date of purchase.</p>
<p> <b> Invalid orders </b>– South Cartel 55 will try to reach out to customers with unclaimed products and/or invalid address for their order. Upon contacting the customer, South Cartel 55 will thereon decide on its action as a case-to-case basis. If the customer used an invalid or falsified contact information, there is no guarantee that a refund or re-issue of the order will be processed.</p>
<p> <b> Order Cancellation </b>– Cancellation of order does not mean automatic return of payment of order. Payment processing is done through the Paypal Payment gateway. Since the payment is processed completely once done with the transaction, Paypal does not allow refunds after a payment has already been processed, hence, it states that you should contact South Cartel in order to get your money back. The return of payment due to cancellation of customer will be processed by South Cartel 55 for 3-4 business days after the customer has sent their account details for the transfer.</p>

</div> 
        {% endblock  %}