{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- START OF CAROUSEL -->
<!-- ========================= SECTION INTRO ========================= -->

<section class="section-intro padding-y-sm">
	<div class="container">
		<div class="col-md-12 ">
			<!-- ============================ COMPONENT BANNER 7 ================================= -->
			<div class="card-banner bg-dark">
				<div class=" card-img opacity "
					style="min-height:300px; background-image: url('{% static 'images/banners/headd2.png' %}'); background-repeat: no-repeat;">
				</div>
				<div class="card-img-overlay white">
					{% if 'search' in request.path %}
					<center>
						<h3 class="card-title mt-5">Search Results<br> </h3>
					</center>
					{% else %}
					<center>
						<h3 class="card-title mt-5">Our Store<br> </h3>
					</center>
					{% endif %}
				</div>
			</div> <!-- container //  -->
		</div>
	</div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->



<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
	<div class="container">

		<div class="row">
			<aside class="col-md-3">

				<div class="card text-dark">
				{% if bands_count != 0 %}
				<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down"></i>
								<h6 class="title text-dark">Brands</h6>
							</a>
						</header>
						<div class="filter-content collapse" id="collapse_1" style="">
						<div class="card-body">
							<ul class="list-menu">
							{% for brand in bands %}
								<li><a href="{{brand.get_url}}">{{brand.brand_name}}  <i class="float-right far fa-dot-circle"></i> </a></li> </a></li>
							{% endfor %}
							</ul>
						</div>
						</div>
					</article> <!-- filter-group .// -->
				{% endif %}


					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down"></i>
								<h6 class="title text-dark">Price range </h6>
							</a>
						</header>
						<div class="filter-content collapse" id="collapse_3" style="">
							<div class="card-body">

								<input type="range" id="rangeInput" value="{{minMaxPrice.price__min}}" class="custom-range" min='{{minMaxPrice.price__min}}' max="{{minMaxPrice.price__max}}" name="" oninput="maxPrice.value=this.value">
								<div class="form-row">

									<div class="form-group col-md-6">
										<label>Min</label>
										<input class="form-control" min='0' placeholder="0" type="number" value="0" disabled>
									</div>

									<div class="form-group text-right col-md-6">
										<label>Max</label>
										<input class="form-control" min='{{minMaxPrice.price__min}}' max="{{minMaxPrice.price__max}}" value="{{minMaxPrice.price__min}}" placeholder="Max: {{minMaxPrice.price__max}}" onkeyup="rangeInput.value=this.value" id="maxPrice" type="number">
									</div>
								</div> <!-- form-row.// -->
								<button id="priceFilterBtn" class="btn btn-block btn-primary">Apply</button>
							</div><!-- card-body.// -->
						</div>
					</article> <!-- filter-group .// -->
					
	



					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" class="">
								<i class="icon-control fa fa-chevron-down fcon"></i>
								<h6 class="title text-dark">Date </h6>
							</a>
						</header>
						<div class="filter-content collapse in" id="collapse_5" style="">
							<div class="card-body">
								<label class="custom-control custom-radio">
									<input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
									<div class="custom-control-label">Any condition</div>
								</label>

								<label class="custom-control custom-radio">
									<input type="radio" name="myfilter_radio" class="custom-control-input">
									<div class="custom-control-label">Oldest to Newest</div>
								</label>

								<label class="custom-control custom-radio">
									<input type="radio" name="myfilter_radio" class="custom-control-input">
									<div class="custom-control-label">Newest to Oldest</div>
								</label>


							</div><!-- card-body.// -->
						</div>
					</article> <!-- filter-group .// -->
				</div> <!-- card.// -->

			</aside> <!-- col.// -->
			<main class="col-md-9">

				<header class="border-bottom mb-4 pb-3">
					<div class="form-inline">
						<span class="mr-md-auto">{{product_count}} Items found </span>
						<div class="col-lg col-sm col-md col-6 flex-grow-0">
							<div class="category-wrap dropdown d-inline-block float-right show">
								<button type="button" class="btn bg-dark text-white dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true">
									<i class="fa fa-bars"></i> All category
								</button>
								<div class="dropdown-menu bg-" x-placement="top-start"
									style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -198px, 0px);">
									<a class="dropdown-item" href="{% url 'store' %}">All Categories</a>
									{% for category in links %}
									<a class="dropdown-item" href="{{category.get_url}}">{{category.category_name}}</a>
									{% endfor %}
								</div>
							</div> <!-- category-wrap.// -->
						</div>
						
					</div>
				</header><!-- sect-heading -->
				<div class="row" id="filteredProducts">
					{% if products %}
					{% for product in products %}
					<div class="col-md-4">
						<figure class="card card-product-grid">
							<div class="img-wrap">
								<span class="badge badge-danger"> NEW </span>
								<a href="{{product.get_url}}"><img id="homethumb" src="{{ product.images.url }}"></a>
								<a class="btn-overlay" href="{{ product.images.url }}"><i class="fa fa-search-plus"></i>
									Quick view</a>
							</div> <!-- img-wrap.// -->
							<figcaption class="info-wrap">
								<div class="fix-height">
									<a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
									<div class="price-wrap mt-2">
										<span class="price">₱{{product.price}}</span>

									</div> <!-- price-wrap.// -->
								</div>
								<a href="{{product.get_url}}" class="btn btn-block fconbg text-white">View Details</a>
							</figcaption>
						</figure>
					</div> <!-- col.// -->

					{% endfor %}
					{% else %}
					<div class="container">
					<center><h4 class="text-muted">Sorry, we were not able to find the products you were looking for.</h4></center>
					<img height="600rm" src="{% static 'images/banners/UnboxingDoodle.png' %}" alt="">
					{% endif %}
					</div>
				</div> <!-- row end.// -->


				<nav class=" float-right" aria-label="Page navigation sample">
					{% if products.has_other_pages %}
					<ul class="pagination">
						{% if products.has_previous %}
						<li class="page-item"><a class="page-link"
								href="?page={{products.previous_page_number}}">Previous</a></li>
						{% else %}
						<li class="page-item disabled"><a class="page-link">Previous</a></li>
						{% endif %}
						{% for i in products.paginator.page_range %}
						{% if products.number == i %}
						<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
						{% else %}
						<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
						{% endif %}
						{% endfor %}
						{% if products.has_next %}
						<li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a>
						</li>
						{% else %}
						<li class="page-item disabled"><a class="page-link">Next</a></li>
						{% endif %}
					</ul>
					{% endif %}
				</nav>

			</main> <!-- col.// -->

		</div>

	</div> <!-- container .//  -->
</section>

<script>
$(document).ready(function(){
	$(".ajaxLoader").hide();
	// Product Filter Start
	$(".filter-checkbox,#priceFilterBtn").on('click',function(){
		var _filterObj={};
		var _minPrice=$('#maxPrice').attr('min');
		var _maxPrice=$('#maxPrice').val();
		_filterObj.minPrice=_minPrice;
		_filterObj.maxPrice=_maxPrice;
		$(".filter-checkbox").each(function(index,ele){
			var _filterVal=$(this).val();
			var _filterKey=$(this).data('filter');
			_filterObj[_filterKey]=Array.from(document.querySelectorAll('input[data-filter='+_filterKey+']:checked')).map(function(el){
			 	return el.value;
			});
		});
		// Run Ajax
		$.ajax({
			url:'{% url 'store' %}',
			data:_filterObj,
			dataType:'json',
			beforeSend:function(){
				$(".ajaxLoader").show();
			},
			success:function(res){
				console.log(res);
				$("#filteredProducts").html(res.data);
				$(".ajaxLoader").hide();
			}
		});
	});
	// End

	// Filter Product According to the price
	$("#maxPrice").on('blur',function(){
		var _min=$(this).attr('min');
		var _max=$(this).attr('max');
		var _value=$(this).val();
		console.log(_value,_min,_max);
		if(_value < parseInt(_min) || _value > parseInt(_max)){
			alert('Values should be '+_min+'-'+_max);
			$(this).val(_min);
			$(this).focus();
			$("#rangeInput").val(_min);
			return false;
		}
	});
	// End
});
</script>

{% endblock %}