{% load static %}
    <!-- ============== FOOTER  ======================================================================================= -->
    <hr style="margin:0;">
    <footer class="section-footer pt-2" style="background-color: #f8f9fa;">
 
      <div class="container my-5">
        <div class="row ">
          <div class="col-md-4">
          <center>
            <figure>
              <span class="fcon"><i class="icon-sm rounded-circle border fa fa-2x fa-truck "></i></span>
              <figcaption class="pt-3">
                <h5 class="title">Fast delivery</h5>
                <p>Partnered with Philippine's fastest and largest express courier expect a safe and hassle free delivery. </p>
              </figcaption>
            </figure> <!-- iconbox // -->
            </center>
          </div><!-- col // -->
          <div class="col-md-4">
            <figure>
            <center>
              <span class="fcon"><i class="icon-sm rounded-circle border fa fa-2x fa-envelope-open "></i></span>
              <figcaption class="pt-3">
                <h5 class="title">Customer Support</h5>
                <p>Have a question/problem? Drop us a message and we will reply as soon as possible. 
                </p>
              </figcaption>
            </figure> <!-- iconbox // -->
            </center>
          </div><!-- col // -->
          <div class="col-md-4">
          <center>
            <figure>
              <span class="fcon"><i class="icon-sm rounded-circle border fa fa-2x fa-lock "></i></span>
              <figcaption class="pt-3">
                <h5 class="title">Secured Payments</h5>
                <p>Encrypted transaction process by accepting Visa, Mastercard, Paypal, and GCash which is processed through Paymongo.
                </p>
              </figcaption>
            </figure> <!-- iconbox // -->
            </center>
          </div> <!-- col // -->
        </div>
      </div>
      <hr>
      <div class="container ">
        <section class="footer padding-y">
          <div class="row">
            <aside class="col-md-4">
              <article class="mr-3">
                <img src="{% static 'images/logos/logo.png' %}" class="logo-footer">
                <p class="mt-3">South Cartel 55 is a local clothing store that aims to offer different brands with style, quality and comfort for everyone's street wear needs.</p>
                <div>
                  <a class="btn btn-icon btn-light" title="Facebook" target="_blank" href="#"><img src="https://img.icons8.com/ios-glyphs/20/000000/facebook-new.png"/></a>
                  <a class="btn btn-icon btn-light" title="Instagram" target="_blank" href="#"><img src="https://img.icons8.com/material-outlined/20/000000/instagram-new--v2.png"/></a>
                </div>
              </article>
            </aside>
            <aside class="col-sm-3 col-md-2">
              <h6 class="title">Account</h6>
              <ul class="list-unstyled">
                <li> <a href="#">Manage Account</a></li>
                <li> <a href="#">Returns</a></li>
                <li> <a href="#">Shipping</a></li>
                <li> <a href="#">FAQ</a></li>
              </ul>
            </aside>
            <aside class="col-sm-3 col-md-2">
              <h6 class="title">Services</h6>
              <ul class="list-unstyled">
                <li> <a href="#">Help center</a></li>
                <li> <a href="#">Money refund</a></li>
                <li> <a href="#">Terms and Policy</a></li>
              </ul>
            </aside>
            <aside class="col-sm-3  col-md-2">
              <h6 class="title">Company</h6>
              <ul class="list-unstyled">
                <li> <a href="#"> Contact Us</a></li>
                <li> <a href="#"> About Us </a></li>
 
              </ul>
            </aside>
            <aside class="col-sm-2  col-md-2">
              <h6 class="title">Supported Payment Methods</h6>

				<img src="https://img.icons8.com/ios-filled/30/000000/paypal.png"/>
				<img src="https://img.icons8.com/ios-glyphs/30/000000/visa.png"/>
				<img src="https://img.icons8.com/ios-filled/30/000000/mastercard.png"/>
            </i>
            </aside>
          </div> <!-- row.// -->
        </section> <!-- footer-top.// -->

      </div><!-- //container -->
    </footer>
    <section class="footer-copyright bg-white">
      <div class="container">
      <p class="float-left text-muted"> © 2021 South Cartel 55 All rights reserved </p>
      <p target="_blank" class="float-right text-muted ">
        <a class="text-muted " href="#">Privacy Policy</a> &nbsp; &nbsp;
        <a class="text-muted" href="#">Terms & Conditions</a>
      </p>
    </div>
    </section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  //when thumbnail is clicked
  $('.thumb a').click(function(e){
    //prevent the a href tag from functioning
    e.preventDefault();
    // the main image container, set the src to the url of the thumbnail
    $('.mainImage img').attr('src', $(this).attr("href"));
  })
});
</script>
</body>
</html>