{% extends "admin/base_site.html" %}
{% load i18n static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}
{% load load_groups %}
{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content_title %} {% trans 'Dashboard' %} {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{% url 'admin:index' %}"><i class="fa fa-tachometer-alt"></i>
            {% trans 'Home' %}</a></li>
    <li class="breadcrumb-item">{% trans 'Dashboard' %}</li>
</ol>
{% endblock %}


{% block content %}
{% get_side_menu using="app_list" as dashboard_list %}
{% if dashboard_list %}
{% widthratio dashboard_list|length 2 1 as middle %}
{% endif %}


<!-- Data Tables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">


{% if user.is_admin %}
<div class="col-lg-9 col-12">

    <div class="row">
        <div class="col-md-9 col-sm-12">
         
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <div class="card-title ">
                        Monthly Sales 
                    </div>
                </div>
                <div class="card-body">
                   <canvas id="myChart" width="100" height="50vh"></canvas>
                </div>
            </div>


        </div>
            <div class="col-md-3 col-sm-12">
                {% comment %} DITO MAG LAGAY NG BAGO {% endcomment %}
                    {% comment %} START OF NEW {% endcomment %}
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="m-0">Total Orders to Ship</h5>
                </div>
                <div class="card-body">
                   <center> <h5>{{orrderrs_count}}</h5></center>
                </div>
            </div>
            <div class="card card-danger card-outline">
                <div class="card-header">
                    <h5 class="m-0">Total Cancelled Orders</h5>
                </div>
                <div class="card-body">
                   <center> <h5>{{cacelledt_count}}</h5></center>
                </div>
            </div>
            <div class="card card-info card-outline">
                <div class="card-header">
                    <h5 class="m-0">Total Users</h5>
                </div>
                <div class="card-body">
                   <center> <h5>{{userss_count}}</h5></center>
                </div>
            </div>
                </div>
            <div class="col-md-12 col-sm-12">
            {% comment %}END  {% endcomment %}
                {% comment %} START OF NEW {% endcomment %}
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="m-0">Orders to Ship</h5>
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                            <th>Order Number</th>
                            <th>User</th>
                            <th>Status</th>
                            <th>Address</th>
                            <th>Date Created</th>
                        </thead>
                        <tbody>
                            {% for order in orrderrs %}
                            <tr>
                                <td>
                                    {{order.order_number}}
                                </td>
                                <td>
                                    {{order.user}}
                                </td>
                                <td {% if order.status == 'To Ship' %} style="background-color:#3498db; color:white;" {% elif order.status == 'To Receive' %} style="background-color:#e67e22; color:white;"{% elif order.status == 'Delivered' %}style="background-color:#27ae60; color:white;" {% elif order.status == 'Cancelled' %}style="background-color:#e74c3c; color:white;"{% endif %}>
                                    <center>
                                        {{order.status}}
                                    </center>
                                </td>
                                <td >
                                   {{order.street_name}}, {{order.district}},  {{order.city}}, {{order.region}}
                                </td>
                                <td >
                                   {{order.created_at}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                    </div>
      <div class="col-md-6 col-sm-12">
{% comment %}END  {% endcomment %}
                {% comment %} START OF NEW {% endcomment %}
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="m-0">Critical Inventory Report</h5>
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Stock</th>

                        </thead>
                        <tbody>
                            {% for product in crit_products %}
                            <tr>
                                <td>
                                    {{product.id}}
                                </td>
                                <td>
                                    {{product.product_name}}
                                </td>
                                <td style="background-color:#e66767; color:white;">
                                    <center>
                                        {{product.stock}}
                                    </center>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="store/product"><button class="btn btn-outline-info float-right mt-3">View
                            Details</button></a>
                </div>
            </div>
                    </div>
      <div class="col-md-6 col-sm-12">
{% comment %}END  {% endcomment %}
                {% comment %} START OF NEW {% endcomment %}
            <div class="card card-primary card-outline">
                <div class="card-header bg-dark">
                    <h5 class="m-0">Refund Requests</h5>
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                            <th>Order Number</th>
                            <th>User</th>
                            <th>Amount Paid</th>


                        </thead>
                        <tbody>
                            {% for product in refundrequestsds %}
                            <tr>
                                <td>
                                    {{product.order_number}}
                                </td>
                                <td>
                                    {{product.user}}
                                </td>
                                <td >
                                    <center>
                                        {{product.amount_paid}}
                                    </center>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                    </div>
      <div class="col-md-6 col-sm-12">
{% comment %}END  {% endcomment %}
    
    
    
    
    
    </div>
      
</div>
</div>
{% endif %}

{% if request.user|has_group:"Staff" %} 
<div class="col-lg-9 col-12">

    <div class="row">
           <div class="col-md-12 col-sm-12">
            {% comment %}END  {% endcomment %}
                {% comment %} START OF NEW {% endcomment %}
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="m-0">Orders to Ship</h5>
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                            <th>Order Number</th>
                            <th>User</th>
                            <th>Status</th>
                            <th>Address</th>
                            <th>Date Created</th>
                        </thead>
                        <tbody>
                            {% for order in orrderrs %}
                            <tr>
                                <td>
                                    {{order.order_number}}
                                </td>
                                <td>
                                    {{order.user}}
                                </td>
                                <td {% if order.status == 'To Ship' %} style="background-color:#3498db; color:white;" {% elif order.status == 'To Receive' %} style="background-color:#e67e22; color:white;"{% elif order.status == 'Delivered' %}style="background-color:#27ae60; color:white;" {% elif order.status == 'Cancelled' %}style="background-color:#e74c3c; color:white;"{% endif %}>
                                    <center>
                                        {{order.status}}
                                    </center>
                                </td>
                                <td >
                                   {{order.street_name}}, {{order.district}},  {{order.city}}, {{order.region}}
                                </td>
                                <td >
                                   {{order.created_at}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                    </div>
            <div class="col-md-3 col-sm-12">
                {% comment %} DITO MAG LAGAY NG BAGO {% endcomment %}
                    {% comment %} START OF NEW {% endcomment %}
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="m-0">Total Orders to Ship</h5>
                </div>
                <div class="card-body">
                   <center> <h5>{{orrderrs_count}}</h5></center>
                </div>
            </div>
            <div class="card card-danger card-outline">
                <div class="card-header">
                    <h5 class="m-0">Total Cancelled Orders</h5>
                </div>
                <div class="card-body">
                   <center> <h5>{{cacelledt_count}}</h5></center>
                </div>
            </div>
            <div class="card card-warning card-outline">
                <div class="card-header">
                    <h5 class="m-0">Total Received Orders</h5>
                </div>
                <div class="card-body">
                   <center> <h5>{{received_orders_count}}</h5></center>
                </div>
            </div>
                </div>
 
      <div class="col-md-9 col-sm-12">
{% comment %}END  {% endcomment %}
                {% comment %} START OF NEW {% endcomment %}
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="m-0">Orders to Receive</h5>
                </div>
                <div class="card-body">
                 <table class="table table-sm">
                        <thead>
                            <th>Order Number</th>
                            <th>User</th>
                            <th>Status</th>
                            <th>Address</th>
                            <th>Date Created</th>
                        </thead>
                        <tbody>
                            {% for order in received_orders %}
                            <tr>
                                <td>
                                    {{order.order_number}}
                                </td>
                                <td>
                                    {{order.user}}
                                </td>
                                <td {% if order.status == 'To Ship' %} style="background-color:#3498db; color:white;" {% elif order.status == 'To Receive' %} style="background-color:#e67e22; color:white;"{% elif order.status == 'Delivered' %}style="background-color:#27ae60; color:white;" {% elif order.status == 'Cancelled' %}style="background-color:#e74c3c; color:white;"{% endif %}>
                                    <center>
                                        {{order.status}}
                                    </center>
                                </td>
                                <td >
                                   {{order.street_name}}, {{order.district}},  {{order.city}}, {{order.region}}
                                </td>
                                <td >
                                   {{order.created_at}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                    </div>
      <div class="col-md-6 col-sm-12">
{% comment %}END  {% endcomment %}
    
    
    
    
    
    </div>
      
</div>
</div>
{% endif %}


{% if request.user|has_group:"Partners" %}
<div class="col-lg-9 col-12">

    <div class="row">
        <div class="col-md-12 col-sm-12">
         
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <div class="card-title ">
                        Brand Sales
                    </div>
                </div>
                <div class="card-body">
                   <canvas id="myChart" width="100" height="30vh"></canvas>
                </div>
            </div>


        </div>

        <div class="col-md-12 col-sm-12">
         
            <div class="card card-primary card-outline">
                <div class="card-header bg-dark">
                    <div class="card-title ">
                        Filter Product Stocks
                    </div>
                </div>
                <div class="card-body">
                <form  method="GET">
                {{stock_filter.form}}
                <button class="btn btn-primary" type="submit">Search</button>
                </form>
                </div>
            </div>

        </div>
        <div class="col-md-12 col-sm-12">
         
            <div class="card card card-outline">
                <div class="card-header bg-dark">
                    <div class="card-title">
                     Filtered Product Stocks
                    </div>
                </div>
                <div class="card-body">
                    <table class="table exTable">
                    <thead>
                    <th>Product</th>
                    <th>Brand</th>
                    <th>Stock</th>
                    </thead>
                    {% for stk in stock_products %}
                    <tbody>
                    <td>{{stk.product_name}}</td>
                    <td>{{stk.brand.brand_name}}</td>
                    <td>{{stk.stock}}</td>
                    </tbody>
                    {% endfor %}
                    </table>
                </div>
            </div>

        </div>


    </div>
</div>

{% endif %}









<div class="col-lg-3 col-12">
    <div id="content-related">
        <div class="module" id="recent-actions-module">
            <h3>{% trans 'Recent actions' %}</h3>
            {% load log %}
            {% get_admin_log 6 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <div class="timeline">
                {% for entry in admin_log %}
                <div>
                    {% if entry.is_change %}
                    <i class="fas fa-edit bg-blue"></i>
                    {% elif entry.is_deletion %}
                    <i class="fas fa-trash bg-danger"></i>
                    {% elif entry.is_addition %}
                    <i class="fas fa-plus-circle bg-success"></i>
                    {% endif %}

                    <div class="timeline-item">
                        <span class="time"><i class="fas fa-clock"></i>
                            {% blocktrans with timesince=entry.action_time|timesince %}{{ timesince }}
                            ago{% endblocktrans %}</span>
                        <h3 class="timeline-header no-border">
                            {% if entry.is_deletion or not entry.get_admin_url %}
                            {{ entry.object_repr }}
                            {% else %}
                            <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                            {% endif %}

                            {% if entry.model %}
                            <span class="mini quiet">
                                {% filter capfirst %}
                                {{ entry.model }}
                                {% endfilter %}
                            </span>
                            {% endif %}
                        </h3>
                        {% if not entry.is_deletion %}
                        <div class="timeline-body">
                            {% if entry.is_addition %}
                            {{ entry }}
                            {% else %}
                            <ul style="list-style: none; padding: 0;">
                                {% action_message_to_list entry as action_message_list %}
                                {% for action_message in action_message_list %}
                                <li>{{ action_message.msg|style_bold_first_word }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div>
                    <i class="fa fa-clock bg-gray"></i>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script>
$(document).ready( function () {
    $('.myTable').DataTable({
    "bFilter": false

    });

    $('.exTable').DataTable();
} );

</script>


{% if user.is_admin %}
<script>
var dfx1 = {{dfx1|safe}};
var dfx2 ={{dfx2|safe}};

var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: dfx1,
        datasets: [{
            label: 'Sales',
            data: dfx2,
            fill: false,

            borderColor: [
                "#3cba9f",
            ],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endif %}

{% if request.user|has_group:"Partners" %}
<script>
var bfx1 = {{bfx1|safe}};
var bfx2 ={{bfx2|safe}};

var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: bfx1,
        datasets: [{
            label: 'Brand Sales',
            data: bfx2,
backgroundColor: [

                'rgba(54, 162, 235, 0.2)',

            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',

            ],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endif %}


{% endblock %}